/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  position: relative;
  display: grid;
  margin: auto;
  font-family: var(--family-text);
  font-weight: 400;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 1024px;
  row-gap: 60px;
}

.decorated-zone {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  font-weight: 400;
  font-family: inherit;
}

.decorated-zone::after {
  content: ''; 
  display: inline-block; 
  position: absolute; 
  border-top: 1px solid var(--accent-color-main);
  border-right: 1px solid var(--accent-color-main);
  width: 22px; 
  height: 25px; 
  justify-self: end;
  top: 20px;
  right: 20px;
}

.decorated-zone::before {
  content: ''; 
  display: inline-block; 
  position: absolute; 
  border-bottom: 1px solid var(--accent-color-main);
  border-left: 1px solid var(--accent-color-main);
  width: 22px; 
  height: 25px; 
  left: 20px;
  bottom: 20px;
  justify-self: start;
}

.rec {
  display: flex;
  position: absolute;
  text-transform: uppercase;
  font-family: inherit;
  color: var(--accent-color-main);
  font-weight: inherit;
  line-height: 25px;
  font-size: 18px;
  align-items: center;
  top: 20px;
  right: 29px;
  gap: 10px  
}

.rec::after {
  content: "" ;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color-main);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 0px 4px 2px var(--accent-color-main);
}

.header__theme-menu {
  display: grid;
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-self: center;
  color: var(--accent-color-main);
  font-family: inherit;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background: transparent;
  font-size: 18px;
  border: 1px solid transparent;
  text-align: center;
  padding: 0px 13px 0px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-main);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color-main);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-main);
}

.title {
  color: var(--accent-color-title);
  font-family: inherit;
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #FF0070;
}

.subtitle {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  justify-self: end;
  align-self: center ;
  max-width: 491px;
  margin-right: 20px;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.title-decor {
  background-color: var(--accent-color-title-decor);
  color: var(--accent-color-text-title-decor);
  font-weight: 700;
  font-size: 18px;
}

.title-content{
  font-weight: 400;
}

.main {
  display: grid;
  gap: 80px;
  font-size: 18px;
  font-family: inherit;
  line-height: 23.4px;
  color: var( --accent-color-main);
}

.title_block {
  font-size: 18px;
}

.text-content {
  color: var(--accent-color-text-content);
  margin-top: 10px;
  font-weight: 400;
  line-height: 23.4px;
}

.section__columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 20px 0 20px;
  gap: 20px;
}

.style_link {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 1px 1px #FF0070;
  }

.style_link:hover {
  border-bottom: 1px solid currentColor;
}

.style_link:focus-visible {
  text-decoration: none;
  outline: 1px solid var(--accent-color-text-content);
}

.div_what {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.section__eat_gadgets {
  margin: 0 20px 0 20px;
  display: grid;
  gap: 20px;
}

.title__eat_gadgets {
  max-width: 314px;
}

.div__eat_gadgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, 314px);
  gap: 20px;
}

.section__gallery {
  margin: 0 20px 0 20px;
  display: grid;
  gap: 20px;
}

.div__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.block > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.block-1 {
  grid-column: span 2;
}

.block-2 {
  grid-row: span 2;
}


.block-3 {
  grid-row: span 2;
}

.block-5 {
  grid-column: span 2;
}

.footer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 768px)  {
  .page {
    gap: 40px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
  }
  .rec {
    right: 19px;
    top: 10px;
  }
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
  .title {
    --font-size-h1: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-size: var(--font-size-h1);
    justify-self: center;
    align-self: center;
  }
  .subtitle {
    justify-self: center;
    align-self: center;
    max-width: 355px;
    margin: 0;
  }
  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .main{
    gap: 50px;
  }

  .section__columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 10px 0 10px;
  }

  .section__eat_gadgets {
    margin: 0 10px 0 10px;
  }

  .div__eat_gadgets {
    grid-template-columns: repeat(auto-fit, 355px);
  }

  .section__gallery {
    gap: 10px;
    margin: 0 10px 0 10px;

  }

  .div__gallery {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .block-1 {
    grid-column: span 1;
  }
  
  .block-2 {
    grid-row: span 1;
  }
  
  
  .block-3 {
    grid-row: span 1;
  }
  
  .block-5 {
    grid-column: span 1;
  }
}

@media (768px <= width <= 1024px)  {
  .header__theme-menu-list {
    flex-direction: column;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
  }
  .header_title {
    align-self: start;
  }
  .header__theme-menu {
    margin-block-start: 0;
  }

  .subtitle { 
    justify-self: end;
    max-width: 355px;
  }
  .section__columns {
    display: grid;
    grid-template-columns: 236px 1fr;
  }

  .div__eat_gadgets {
    grid-template-columns: repeat(auto-fit, 728px);
  }

  .title__eat_gadgets {
    max-width: 236px;
  }
}